/*==============================
SIZE
===============================*/

/*==============================
COLORS
===============================*/

/*==============================
FOR  PROJECT
===============================*/

/*==============================
FONT-FAMILY
===============================*/

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img,
abbr {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend {
    color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

/* Bower components import
https://corenav.com/index.html
==============================*/

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/

/*

  Подключить этот файл в начало CSS/LESS файла
  
  Вот так:
  
  @import "lesselements.less";

*/

/* MY MIXINS */

.cover {
    background-size: cover;
}

/* Vendor libs import
==============================*/

/* Badges */

/* Tags */

.wrapper-fluid {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}

.col-five,
.col-lg-five,
.col-md-five,
.col-sm-five,
.col-xs-five,
.col-xxs-five {
    position: relative;
    min-height: 1px;
    padding-left: 1.25%;
    padding-right: 1.25%;
}

.col-five,
.col-lg-five,
.col-md-five,
.col-sm-five,
.col-xs-five,
.col-xxs-five {
    width: 20%;
    float: left;
}

/* 6dp elevation modified*/

/* 12dp elevation modified*/

/* 16dp elevation */

/* 24dp elevation */

/*==========================================*/

/*=======================================*/

/*=======================================*/

/*=======================================*/

/*=======================================*/

/*===========================*/

/*==========================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/*==================================================*/

/* Project Elements
==============================*/

/*
http://chimir.ru/post/39:
@font-face mixin.Пример использования:
@family: имя шрифта (обязательно).
@filename: название шрифта, так же используется в качестве id для шрифта в формате svg
(обязательно, по умолчанию используется имя шрифта).
@weight: жирность шрифта (не обязательно, по умолчанию normal).
@style: стиль шрифта (не обязательно, по умолчанию normal).

.font-face(Roboto Slab, RobotoSlab-Bold, bold);
 .font-face(@family, @filename: @family, @weight: normal, @style: normal){
    @font-face{
        font-family: @family;
        src:url('fonts/@{filename}/@{filename}.eot');
        src:url('fonts/@{filename}/@{filename}.eot?#iefix') format('embedded-opentype'),
                url('fonts/@{filename}/@{filename}.woff') format('woff'),
                url('fonts/@{filename}/@{filename}.ttf') format('truetype'),
                url('fonts/@{filename}/@{filename}.svg#@{filename}') format('svg');
        font-weight: @weight;
        font-style: @style;
    }
}
.font-face(Raleway, RalewayLight, 300);
.font-face(Raleway, RalewayRegular, 400);
.font-face(Raleway, RalewaySemiBold, 600);
.font-face(Raleway, RalewayBold, 700);

.font-face(Open Sans, OpenSansLight, 300);
.font-face(Open Sans, OpenSansRegular, 400);
.font-face(Open Sans, OpenSansSemiBold, 600);
.font-face(Open Sans, OpenSansBold, 700);

.font-face(lobstertwo, lobstertwo-regular, 400);
.font-face(lobstertwo, lobstertwo-italic, 400, italic);
.font-face(lobstertwo, lobstertwo-bolditalic, 700, italic);
.font-face(lobstertwo, lobstertwo-bold, 700);

.font-face(Arabic, Arabic, 400);
.font-face(Exo2Bold, Exo2Bold, 400);

//../fonts
*/

@font-face {
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RalewayRegular/RalewayRegular.eot') format('woff2');
}

@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RalewayRegular/RalewayRegular.ttf') format('woff2');
}

@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff2');
}

@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/RalewaySemiBold/RalewaySemiBold.eot') format('woff2');
}

@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/RalewaySemiBold/RalewaySemiBold.ttf') format('woff2');
}

@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/RalewaySemiBold/RalewaySemiBold.woff') format('woff2');
}

@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/RalewayBold/RalewayBold.eot') format('woff2');
}

@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/RalewayBold/RalewayBold.ttf') format('woff2');
}

@font-face {
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/RalewayBold/RalewayBold.woff') format('woff2');
}

@font-face {
    font-family: 'PF Centro Slab Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot') format('woff2');
}

@font-face {
    font-family: 'PF Centro Slab Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf') format('woff2');
}

@font-face {
    font-family: 'PF Centro Slab Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff') format('woff2');
}

@font-face {
    font-family: 'PF Centro Slab Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot') format('woff2');
}

@font-face {
    font-family: 'PF Centro Slab Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/PFCentroSlabProBold/PFCentroSlabProBold.ttf') format('woff2');
}

@font-face {
    font-family: 'PF Centro Slab Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/PFCentroSlabProBold/PFCentroSlabProBold.woff') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/OpenSansLight/OpenSansLight.eot') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/OpenSansLight/OpenSansLight.ttf') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSansRegular/OpenSansRegular.eot') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fontsOpenSansRegular/OpenSansRegular.woff') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSansBold/OpenSansBold.eot') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSansBold/OpenSansBold.ttf') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff2');
}

/*===========================
Table of Content

1. Wrappers
2. Buttons
3. Form elements
4. Font family
5. Typography
===========================*/

/* 1. Wrappers
===========================*/

/*
.debug {
    .debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}
*/

*,
*:before,
*,
*:after {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1190px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* 2. Buttons
===========================*/

/* 3. Form elements
===========================*/

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

/*4. Font family
 @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');
===========================*/

@main _font: .ff-open-sans();

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: auto !important;
    min-height: 100%;
    color: #000;
    overflow-x: hidden;
    min-width: 300px;
    min-width: 18.75rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f6f8;
}

header,
footer {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

main {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2.6875rem;
}

h2 {
    font-size: 2.125rem;
}

h3 {
    font-size: 1.0625rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9375rem;
}

h6 {
    font-size: 0.8125rem;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:focus {
    outline: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.example-img {
    width: 100%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.parent {
    background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

.section__header {
    width: 100%;
    max-width: 600px;
    max-width: 37.5rem;
    min-width: 320px;
    min-width: 20rem;
    padding-top: 30px;
    padding-top: 1.875rem;
    padding-bottom: 30px;
    padding-bottom: 1.875rem;
    text-align: center;
    margin: 60px auto;
}

.section__title {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 130%;
    margin: 0;
    margin-bottom: 11.04px;
    margin-bottom: 0.69rem;
    text-transform: uppercase;
}

.first-word {
    display: inline-block;
    vertical-align: middle;
    color: #ff5912;
    margin-right: 5px;
}

.second-word {
    display: inline-block;
    vertical-align: middle;
    color: #34404b;
}

.js_left,
.js_right,
.js_up {
    transition: 1s;
    transition: all 1s ease-out;
    transition-delay: 3s;
}

/* Pages import
==============================*/

@media (min-width: 380px) {
    .col-xxs-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 576px) {
    .col-xs-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 768px) {
    .col-sm-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1300px) {
    .col-lg-five {
        width: 20%;
        float: left;
    }
}

@media screen and (max-width: 1300px) {
    .wrapper-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 992px) {
    .wrapper-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    html {
        font-size: 13px;
    }
}