/* Vendor libs import
@import "fonts/fonts";
==============================*/
// out: null
// ���������� ����������
@import "_variables";

// ���������� �������
@import "sprite-position";

// ���������� �������
@import "_mixins";

.reset();

/*Bower components import
===================================*/


/* Vendor libs import
@import "fonts/fonts";
==============================*/
@import "libs/myFrameworks/superLess";


/* Project Elements
==============================*/
@import "_elements";
@import "fonts";
@import "libs/smart-grid";

.contacts {

    .contact-top_bg{
        display: block;
        width: 100%;
        height: 115px;
        position: absolute;
        left: 0;
        //right: 0;
        top: -65px;;
        background-color: rgba(0, 0, 128, 1);
        .bg-img('contact-top_bg.png');

    }

    .contact-bot_bg{
        display: block;
        width: 100%;
        height: 184px;
        position: absolute;
        left: 0;
        //right: 0;
        bottom: -104px;
        background-color: rgba(0, 0, 128, 1);
        .bg-img('contact-bot_bg.png');
    }
.wrapper {
    z-index: 100;
    position: relative;
}

}




.contacts__wrap {
    .row-flex();
    .justify-bet();
    .justify-center-sm();
}

.contacts__inner {
    .col();
    .beam(4);
    .beam-sm(6);
    .margin-bottom-sm(30);
    .beam-xs(12);
    margin: 30px auto;
}